.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.col-1 {
    order: 1;
    flex-basis: 60%;
}
.col-2 {
    order: 2;
    flex-basis: 40%;
}

.mathquill-editor {
    width: 100%;
    min-height: 100px;
}

.collapsible {
    background-color: #f7f7fb;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #e9e9e9;
    width: 100%;
    text-align: left;
}

.active,
.collapsible:hover {
    background-color: #e8e8e8;
}

.collapsible:after {
    content: '\002B';
    color: #333;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2212';
}

.content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f8f8f8;
}

.btn-container {
    margin: 5px 0;
}

.btn {
    cursor: pointer;
    margin: 0 5px 5px 0;
    border: 1px solid #595959;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    min-height: 40px;
}

.btn:hover {
    background: #595959;
    color: white;
}

/* Helpers */
.m-0 {
    margin: 0;
}

.col-2-container {
    padding-left: 10px;
    padding-right: 10px;
}

/* Responsivo for mobile */
@media (max-width: 576px) {
    .col-1,
    .col-2 {
        flex-basis: 100%;
    }
    .col-2 {
        margin-top: 10px;
    }

    .col-2-container {
        padding-left: 0;
        padding-right: 0;
    }
}
